* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    background-color: rgb(6, 75, 179);
    color: white;
    height: 80px;
    font-size: 30px;
    padding: 20px 20px 20px 20px;
}

#reg {
    font-size: 16px;
}

.container {
    /* border: 2px dotted green; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.messages {
    color: red;
    font-size: 15px;
}

.message {
    width: 600px;
    line-height: 35px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.left {
    margin-right: 20px;
}

.right {
    margin-right: 20px;
}

form {
    font-size: 30px;
    text-align: center;
    display: block;
    background-color: #c9c8c8;
    padding: 20px;
    border-radius: 15px;
    width: 400px;
    height: auto;
}

form input {
    height: 30px;
    width: 200px;
    font-size: 15px;
}

form label {
    font-size: 20px;
}

.container form input[type=submit] {
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    width: 80px;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.container form input[type=submit]:hover {
    background-color: #4a914c;
}